/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    @include size($width:1px, $height:1px);
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: $screen-reader-bg;
    border-radius: 3px;
    @include box-shadow(0,0,2px,2px,$box-shadow-clr);
    @include pos(null, 5px null null 5px);
    @include typography($screen-reader-txt, bold, null, none, normal, null);
    clip: auto !important;
    display: block;
    @include font-size(14px);
    @include size($width:auto, $height:auto);
    @include pad(15px 23px 14px);
    z-index: 100000; /* Above WP toolbar. */
}
